// ______________ colors ______________ 

$primary : rgb(76, 78, 111);
$secondary : rgb(210, 166, 90);
$dark : #2f2e36;

$white: rgb(255, 255, 255);


$blue: #3b1fc8;
$red: #a52d2d;
$green: #308c28;
$purple: #5d1fc8;
$yellow: #FFF9D8;
$danger: #a83b3b;
$warning: #ca8e39;




// shadow
$shadow: rgba(0, 0, 0, 0.821) 0px 5px 15px;


// radius
$radius: 5px;